@import './themes.css';
@import './elevations.css';
@import './font.css';
@import './typography.css';
@import 'tailwindcss' source('..');

@theme {
  --font-custom-sans: 'Fellix', 'Helvetica Neue', 'IBM Plex Sans', 'sans-serif';

  --opacity-hover: 0.08;
  --opacity-focus: 0.12;
  --opacity-pressed: 0.12;
  --opacity-dragged: 0.16;
  --opacity-disabled: 0.12;
  --opacity-on-disabled: 0.38;
  --opacity-scrim: 0.32;
}

@layer base {
  * {
    @apply appearance-none font-custom-sans focus:outline-none;
  }

  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}

@layer utilities {
  .state-layer {
    @apply relative isolate overflow-hidden;
  }
  .state-layer::before {
    @apply absolute inset-0 bg-current opacity-0 transition-opacity duration-300 content-[''];
  }
}
