@theme {
  --color-primary: rgb(112 59 198);
  --color-on-primary: rgb(255 255 255);
  --color-primary-container: rgb(137 87 225);
  --color-on-primary-container: rgb(255 251 255);
  --color-secondary: rgb(104 84 141);
  --color-on-secondary: rgb(255 255 255);
  --color-secondary-container: rgb(214 190 255);
  --color-on-secondary-container: rgb(94 74 130);
  --color-tertiary: rgb(162 41 122);
  --color-on-tertiary: rgb(255 255 255);
  --color-tertiary-container: rgb(193 68 148);
  --color-on-tertiary-container: rgb(255 251 255);
  --color-error: rgb(186 26 26);
  --color-on-error: rgb(255 255 255);
  --color-error-container: rgb(255 218 214);
  --color-on-error-container: rgb(147 0 10);
  --color-background: rgb(254 247 255);
  --color-on-background: rgb(29 26 34);
  --color-surface: rgb(254 247 255);
  --color-on-surface: rgb(29 26 34);
  --color-surface-variant: rgb(233 223 242);
  --color-on-surface-variant: rgb(74 68 83);
  --color-outline: rgb(123 116 133);
  --color-outline-variant: rgb(204 195 213);
  --color-shadow: rgb(0 0 0);
  --color-scrim: rgb(0 0 0);
  --color-surface-tint: rgb(114 62 200);
  --color-inverse-surface: rgb(51 47 56);
  --color-inverse-on-surface: rgb(246 238 250);
  --color-inverse-primary: rgb(212 187 255);
  --color-surface-container-lowest: rgb(255 255 255);
  --color-surface-container-low: rgb(249 241 253);
  --color-surface-container: rgb(243 235 247);
  --color-surface-container-high: rgb(237 229 242);
  --color-surface-container-highest: rgb(232 224 236);

  --opacity-hover: 0.08;
  --opacity-focus: 0.12;
  --opacity-pressed: 0.12;
  --opacity-dragged: 0.16;
  --opacity-disabled: 0.12;
  --opacity-on-disabled: 0.38;

  --elevation-tint-opacity-1: 0.02;
  --elevation-tint-opacity-2: 0.06;
  --elevation-tint-opacity-3: 0.09;
  --elevation-tint-opacity-4: 0.1;
  --elevation-tint-opacity-5: 0.12;

  --elevation-shadow-1:
     /* Ambient Shadow (Geniş ve yumuşak) */
    0px 1px 3px 1px oklch(from var(--color-shadow) l c h / 0.15),
    /* Key Shadow (Yakın ve daha net) */ 0px 1px 2px 0px oklch(from var(--color-shadow) l c h / 0.3);

  --elevation-shadow-2:
    0px 2px 6px 2px oklch(from var(--color-shadow) l c h / 0.15),
    0px 1px 2px 0px oklch(from var(--color-shadow) l c h / 0.3);

  --elevation-shadow-3:
    0px 4px 8px 3px oklch(from var(--color-shadow) l c h / 0.15),
    0px 1px 3px 0px oklch(from var(--color-shadow) l c h / 0.3);

  --elevation-shadow-4:
    0px 6px 10px 4px oklch(from var(--color-shadow) l c h / 0.15),
    0px 2px 3px 0px oklch(from var(--color-shadow) l c h / 0.3);

  --elevation-shadow-5:
    0px 8px 12px 6px oklch(from var(--color-shadow) l c h / 0.15),
    0px 4px 4px 0px oklch(from var(--color-shadow) l c h / 0.3);
}

@utility elevated-0 {
  background-color: var(--color-surface-elevated);
  box-shadow: none;
}
@utility elevated-1 {
  background-color: var(--color-surface-elevated);
  box-shadow: var(--elevation-shadow-1);
  background-image: linear-gradient(
    oklch(from var(--color-primary) l c h / var(--elevation-tint-opacity-1)),
    oklch(from var(--color-primary) l c h / var(--elevation-tint-opacity-1))
  );
}
@utility elevated-2 {
  background-color: var(--color-surface-elevated);
  box-shadow: var(--elevation-shadow-2);
  background-image: linear-gradient(
    oklch(from var(--color-primary) l c h / var(--elevation-tint-opacity-2)),
    oklch(from var(--color-primary) l c h / var(--elevation-tint-opacity-2))
  );
}
@utility elevated-3 {
  background-color: var(--color-surface-elevated);
  box-shadow: var(--elevation-shadow-3);
  background-image: linear-gradient(
    oklch(from var(--color-primary) l c h / var(--elevation-tint-opacity-3)),
    oklch(from var(--color-primary) l c h / var(--elevation-tint-opacity-3))
  );
}
@utility elevated-4 {
  background-color: var(--color-surface-elevated);
  box-shadow: var(--elevation-shadow-4);
  background-image: linear-gradient(
    oklch(from var(--color-primary) l c h / var(--elevation-tint-opacity-4)),
    oklch(from var(--color-primary) l c h / var(--elevation-tint-opacity-4))
  );
}
@utility elevated-5 {
  background-color: var(--color-surface-elevated);
  box-shadow: var(--elevation-shadow-5);
  background-image: linear-gradient(
    oklch(from var(--color-primary) l c h / var(--elevation-tint-opacity-5)),
    oklch(from var(--color-primary) l c h / var(--elevation-tint-opacity-5))
  );
}
