@utility text-display-large {
  font-size: 3.5625rem; /* 57px */
  line-height: 4rem; /* 64px */
  letter-spacing: -0.015625rem;
}

@utility text-display-medium {
  font-size: 2.8125rem; /* 45px */
  line-height: 3.25rem; /* 52px */
  letter-spacing: 0;
}

@utility text-display-small {
  font-size: 2.25rem; /* 36px */
  line-height: 2.75rem; /* 44px */
  letter-spacing: 0;
}

/* Headline Styles */
@utility text-headline-large {
  font-size: 2rem; /* 32px */
  line-height: 2.5rem; /* 40px */
  letter-spacing: 0;
}

@utility text-headline-medium {
  font-size: 1.75rem; /* 28px */
  line-height: 2.25rem; /* 36px */
  letter-spacing: 0;
}

@utility text-headline-small {
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
  letter-spacing: 0;
}

/* Title Styles */
@utility text-title-large {
  font-size: 1.375rem; /* 22px */
  line-height: 1.75rem; /* 28px */
  letter-spacing: 0;
}

@utility text-title-medium {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
  letter-spacing: 0.009375rem;
}

@utility text-title-small {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  letter-spacing: 0.00625rem;
}

/* Label Styles */
@utility text-label-large {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  letter-spacing: 0.00625rem;
}

@utility text-label-medium {
  font-size: 0.75rem; /* 12px */
  line-height: 1rem; /* 16px */
  letter-spacing: 0.03125rem;
}

@utility text-label-small {
  font-size: 0.6875rem; /* 11px */
  line-height: 1rem; /* 16px */
  letter-spacing: 0.03125rem;
}

/* Body Styles */
@utility text-body-large {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
  letter-spacing: 0.03125rem;
}

@utility text-body-medium {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  letter-spacing: 0.015625rem;
}

@utility text-body-small {
  font-size: 0.75rem; /* 12px */
  line-height: 1rem; /* 16px */
  letter-spacing: 0.025rem;
}
